:root {
  /* Main Back */
  --deep-slate: #1e293b;
  /* Navbars, Footers, Other Backgrounds */
  --muted-slate: #334155;
  /* Main Buttons, Links, and Icons */
  --electric-blue: #3b82f6;
  /* Hover States */
  --sky-blue: #60a5fa;
  /* Search Bars and Input Fields */
  --navy-shadow: #0f172a;
  /* Titles and Body Text */
  --ghost-white: #f8fafc;
  /* Subtitles and other labels */
  --cool-gray: #94a3b8;
  /* Additional Buttons */
  --indigo-blue: #6366f1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: var(--deep-slate);
  color: var(--ghost-white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: var(--muted-slate);
  border-bottom: 1px var(--deep-slate);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 300px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--cool-gray);
  transition: color 0.3s;
}
.nav-links a:hover {
  color: var(--sky-blue);
}

.content-area {
  flex: 1;
  padding: 2rem 5%;
  font-size: 32px;
}

.main-footer {
  background-color: var(--muted-slate);
  padding: 2rem 5%;
  text-align: center;
  border-top: 1px solid var(--deep-slate);
  color: var(--cool-gray);
}

.social-media{
    margin-top: 10px;
}

.sw-button{
    background-color: var(--sky-blue);
    color: var(--ghost-white);
    padding: 12px 24px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: transform .2s, background-color .2s;
}
.sw-button:hover{
    background-color: var(--electric-blue);
    transform: scale(1.05);
}
