:root {
  /* Main Back */
  --deep-slate: #1e293b;
  /* Navbars, Footers, Other Backgrounds */
  --muted-slate: #334155;
  /* Main Buttons, Links, and Icons */
  --electric-blue: #3b82f6;
  /* Hover States */
  --sky-blue: #5788c5;
  /* Search Bars and Input Fields */
  --navy-shadow: #0f172a;
  /* Titles and Body Text */
  --ghost-white: #ecebeb;
  /* Subtitles and other labels */
  --cool-gray: #acbed7;
  /* Additional Buttons */
  --indigo-blue: #6366f1;
  --gold: #ffd42ae7;
  --warmer-gold: #fbbf24;
  --shadow-black: rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: var(--deep-slate);
  color: var(--ghost-white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: var(--muted-slate);
  border-bottom: 1px var(--deep-slate);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 300px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--cool-gray);
  transition: color 0.3s;
}
.nav-links a:hover {
  color: var(--sky-blue);
}

.content-area {
  flex: 1;
  padding: 2rem 5%;
  font-size: 32px;
  margin: auto;
}

.main-footer {
  background-color: var(--muted-slate);
  padding: 2rem 5%;
  text-align: center;
  border-top: 1px solid var(--deep-slate);
  color: var(--cool-gray);
}

.social-media {
  margin-top: 10px;
}

.sw-button {
  background-color: var(--sky-blue);
  color: var(--ghost-white);
  padding: 12px 24px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  transition:
    transform 0.2s,
    background-color 0.2s;
}
.sw-button:hover {
  background-color: var(--electric-blue);
  transform: scale(1.05);
}

.contact-form {
  max-width: 600px;
  margin: 40px;
  padding: 20px;
  background-color: var(--navy-shadow);
  border: 1px solid var(--muted-slate);
  border-radius: 10px;
}
.contact-form form{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contact-form input {
  background-color: var(--deep-slate);
  border: 1px solid var(--muted-slate);
  color: var(--ghost-white);
  padding: 10px;
  border-radius: 5px;
}
.form-buttons{
  display: flex;
  gap: 10px;
}
.formBtn{
  background: none;
  border: 1px solid var(--cool-gray);
  color: var(--cool-gray);
  padding: 10px;
  border-radius: 5px;
}
.formBtn:hover{
  color: var(--sky-blue);
  border-color: var(--sky-blue);
}


.now-playing {
  text-align: center;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 200px;
}

.movie-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 0 1 280px;
  background-color: var(--deep-slate);
  border-radius: 12px;
  box-shadow: 0 4px 10px var(--shadow-black);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.movie-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.movie-card figure {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.movie-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.movie-card figcaption {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1.5rem;
  color: var(--ghost-white);
  gap: 0.5rem;
}

.movie-card h3 {
  margin: 0;
  font-size: 1.75rem;
  font-weight: bold;
  flex-grow: 1;
  display: flex;
}

.rating {
  color: var(--gold);
}
.genre{
  display: flex;
  flex-grow: 1;
  font-size: 1.15rem;
}

.movie-filter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 2rem auto;
  max-width: 600px;
}

.search-group {
  display: flex;
  width: 100%;
}

.movie-search-input {
  flex-grow: 1;
  padding: 12px 20px;
  font-size: 1.5rem;
  border: 2px solid var(--muted-slate);
  border-right: none;
  border-radius: 8px 0 0 8px;
  background-color: var(--muted-slate);
  color: var(--ghost-white);
  outline: none;
  transition: border-color 0.3s ease;
}

.movie-search-input:focus {
  border-color: var(--sky-blue);
}

.movie-submit-btn {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 12px 25px;
  background-color: var(--ghost-white);
  color: var(--muted-slate);
  border-left: 3px solid var(--ghost-white);
  border-radius: 0 8px 8px 0;
  font-weight: bold;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.movie-submit-btn:hover {
  background-color: var(--sky-blue);
  transform: scale(1.02);
}

.movie-submit-btn:active {
  transform: scale(0.95);
}

.movie-filter-dropdown {
  background-color: var(--muted-slate);
  color: var(--cool-gray);
  font-size: 1.5rem;
  border: 2px solid var(--muted-slate);
  border-radius: 8px;
  border-right: none;
  width: auto;
  padding: 10px 20px;
}

.movie-showtimes {
  margin-top: 1rem;
  border-top: 1px solid var(--deep-slate);
  padding-top: 0.5rem;
}

.movie-showtimes h4 {
  font-size: 1.15rem;
  color: var(--cool-gray);
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.showtime-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.showtime-list li {
  background-color: var(--deep-slate);
  color: var(--ghost-white);
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 0.85rem;
  font-size: 1.15rem;
  border: 1px solid var(--muted-slate);
}

.showtime-list li:nth-child(even) {
  background-color: var(--muted-slate);
  color: var(--cool-gray);
}

.detailBtn {
  display: block;
  text-align: center;
  background-color: var(--sky-blue);
  color: var(--ghost-white);
  padding: 12px 20px;
  margin-top: 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  border-radius: 6px;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease,
    box-shadow 0.3s ease;
  border: none;
}
.detailBtn:hover {
  background-color: var(--indigo-blue);
  transform: translateY(-2px);
  box-shadow: 0 5px 15px var(--navy-shadow);
}

.details-content {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 2rem;
}

.detail-poster {
  width: 400px;
  height: 600px;
  object-fit: cover;
  object-position: center;

  border-radius: 6px;
  box-shadow: 0 10px 30px var(--shadow-black);
  border: 1px solid var(--muted-slate);
}

.detail-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.detail-info h1 {
  font-size: 3rem;
  margin: 0;
  color: var(--ghost-white);
}

.detail-description {
  font-size: 2rem;
  line-height: 1.6;
  color: var(--ghost-white);
}

.favBtn {
  background-color: var(--gold);
  color: var(--ghost-white);
  margin-top: 10px;
}
.favBtn:hover {
  background-color: var(--warmer-gold);
  transform: scale (1.05);
}

.favBtn.isFavorite {
  background-color: var(--warmer-gold);
  color: var(--ghost-white);
  border: 2px solid var(--gold);
  box-shadow: 0 4px 15px var(--navy-shadow);
  transform: scale(1.02);
}
.favBtn.isFavorite:hover {
  background-color: var(--electric-blue);
  border-color: var(--sky-blue);
  color: var(--ghost-white);
  transform: scale(0.98);
}
.favBtn.isFavorite:active {
  transform: scale(0.95);
  transition: transform 0.1s;
}

.watchlist-container {
  position:fixed;
  bottom: 0;
  left:0;
  width: 100%;
  background-color: var(--navy-shadow);
  border-top: 3px solid var(--electric-blue);
  padding: 15px 25px;
  z-index: 1000;
  height: 220px;
}

.watchlist-drop-zone {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;
  height: 160px;
  align-items: center;
}

.watchlist-thumbnail{
  height: 150px;
  width: auto;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid var(--muted-slate);
  transition: transform .2s ease-in-out;
}
.watchlist-thumbnail:hover{
  transform: scale(1.1);
  border-color: var(--electric-blue);
  z-index: 10;
}

.watchlist-item-wrapper{
  position: relative;
  flex-shrink: 0;
}

.remove-item-btn {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--sky-blue);
  color: var(--ghost-white);
  border: none;
  border-radius: 6px;
  width: 25px;
  height: 25px;
  font-size: 14px;
}
